# Auto detect text files and perform LF normalization
* text=auto
trainingData/dataBinaries filter=lfs diff=lfs merge=lfs -text
trainingData/TestdataBinaries filter=lfs diff=lfs merge=lfs -text
neuralData/NNbinaries filter=lfs diff=lfs merge=lfs -text
